<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.emf.ecp.ui.view.swt.renderers">
  <renderer renderer="org.eclipse.emf.ecp.ecoreeditor.internal.ui.TextRenderer">
     <dynamicTest
           testClass="org.eclipse.emf.ecp.ecoreeditor.internal.ui.TextRendererTester">
     </dynamicTest>
  </renderer>
 </extension>
   <extension-point id="org.eclipse.emf.ecp.ecoreeditor.toolbarActions" name="ToolbarActions" schema="schema/org.eclipse.emf.ecp.ecoreeditor.toolbarActions.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.emf.ecp.ecoreeditor.internal.EcoreEditor"
            default="true"
            extensions="ecore,genmodel"
            icon="icons/EcoreModelFile.gif"
            id="EcoreEditor2.editor1"
            name="Ecore Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.emf.ecp.ecoreeditor.commands.category"
            name="Ecore Actions">
      </category>
      <command
            categoryId="org.eclipse.emf.ecp.ecoreeditor.commands.category"
            id="org.eclipse.emf.ecp.ecoreeditor.new"
            name="New Child Element">
      </command>
      <command
            categoryId="org.eclipse.emf.ecp.ecoreeditor.commands.category"
            id="org.eclipse.emf.ecp.ecoreeditor.new.sibling"
            name="New Sibling">
      </command>
      <command
            categoryId="org.eclipse.emf.ecp.ecoreeditor.commands.category"
            id="org.eclipse.emf.ecp.ecoreeditor.delete"
            name="Delete Element">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.ecp.ecoreeditor.internal.handlers.ShortcutHandler"
            commandId="org.eclipse.emf.ecp.ecoreeditor.delete">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ecoreeditor.internal.handlers.ShortcutHandler"
            commandId="org.eclipse.emf.ecp.ecoreeditor.new">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ecoreeditor.internal.handlers.ShortcutHandler"
            commandId="org.eclipse.emf.ecp.ecoreeditor.new.sibling">
      </handler>      
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.emf.ecp.ecoreeditor.new"
            contextId="org.eclipse.emf.ecp.ecoreeditor.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+N">
      </key>
      <key
            commandId="org.eclipse.emf.ecp.ecoreeditor.new.sibling"
            contextId="org.eclipse.emf.ecp.ecoreeditor.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+N">
      </key>
      <key
            commandId="org.eclipse.emf.ecp.ecoreeditor.delete"
            contextId="org.eclipse.emf.ecp.ecoreeditor.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="DEL">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.eclipse.emf.ecp.ecoreeditor.context"
			parentId="org.eclipse.ui.contexts.window"
            name="Ecore Editor">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            class="org.eclipse.emf.ecp.ecoreeditor.internal.PopupFactory"
            locationURI="org.eclipse.emf.ecp.ecoreeditor.menuContribution1">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.ecoreeditor.toolbarActions">
      <action
            toolbarAction="org.eclipse.emf.ecp.ecoreeditor.internal.toolbaractions.LoadEcoreAction">
      </action>
         
   </extension>
</plugin>
