<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ecoreeditor2.EcoreEditor"
            default="false"
            extensions="ecore2"
            id="EcoreEditor2.editor1"
            name="name">
      </editor>
   </extension>
   
   <extension
        point="org.eclipse.emf.ecp.view.context.viewServices">
     <viewService
           class="ecoreeditor2.DataTypeReferenceService">
     </viewService>
 </extension>
   <extension
         point="org.eclipse.emf.ecp.ui.view.swt.renderers">
      <renderer
            renderer="ecoreeditor2.controls.DatatypeRenderer">
         <dynamicTest
               testClass="ecoreeditor2.controls.DatatypeRendererTest">
         </dynamicTest>
      </renderer>
   </extension>

</plugin>
