<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ecoreeditor2.EcoreEditor"
            default="false"
            extensions="ecore2"
            id="EcoreEditor2.editor1"
            name="name">
      </editor>
   </extension>
   
   <extension
        point="org.eclipse.emf.ecp.view.context.viewServices">
     <viewService
           class="ecoreeditor2.DataTypeReferenceService">
     </viewService>
 </extension>
   <extension
         point="org.eclipse.emf.ecp.view.treemasterdetail.ui.swt.masterDetailActions">
         <MasterDetailAction
            command="ecoreeditor2.LoadEcoreHandler"
            imagePath="icons/preview.png"
            label="Add Ecore"
            location="toolbar">
      </MasterDetailAction>
   </extension>

</plugin>
